/* 
VARIABLE DECLARATIONS
*/

$primary_color: #231B1E;
$background_color: #F7F3F7;
$secondary_color: #7E8D68;
$tertiary_color: #C68B80; 

/*
BASIC MARKDOWN STYLING
*/

body {
    font-family: p22-underground, sans-serif;
    font-style: normal;
    font-weight: 400;
    padding: 3em 10vw;
    color: $primary_color;
    background-color: $background_color;
    margin: 0;
    font-size: 0.9vw;
}

h1, h2, h3, h4 {
    font-weight: 600;
}

h1 {
    font-size: 2vw;
}

h2 {
    margin: 1.25em auto -0.5em auto;
    font-size: 1.5vw;
}

h3 {
    font-size: 1.5vw;
}

h4 {
    color: $secondary_color;
    font-size: 1.1vw;
}

a {
    text-decoration: none;
    color: $tertiary_color;

    &:hover {
        text-decoration: underline;
    }
}

ul {
    list-style-type: none;
    padding-left: 1.5em;

    li {
        margin: 1em auto;
    }
}

hr {
    border-color: $primary_color;
}

blockquote {
    margin: 1em;
    width: calc(100% - 4em);
    padding: 0.25em 1em;
    background-color: $secondary_color;
    color: $background_color;
    border-radius: 5px;
}

/*
NAV BAR AND FOOTER
*/

nav {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 3em;

    a {
        font-size: larger;
        font-weight: 600;
    }
}

footer {
    margin-top: 10em;
    padding: 3em 1em;
}

/*
MAIN PAGE EXTRAS
*/

.main-img {
    width: 10vw;
    margin: 0.5em 2em 0.5em 0;
    border-radius: 100%;
    border-style: solid;
    opacity: 80%;

    &:nth-of-type(even) {
        border-color: $tertiary_color;
    }

    &:nth-of-type(odd) {
        border-color: $secondary_color;
    }
}

/*
READING LIST
*/
