/* 
VARIABLE DECLARATIONS
*/

$background_color: #282828;
$primary_color: #ebdbb2;
$secondary_color: #b8bb26;
$tertiary_color: #fb4934;

// Small tablets (portrait view)
$screen-md-min: 768px;

// Medium devices
@mixin md {
    @media (min-width: #{$screen-md-min}) {
        @content;
    }
 }

/*
BASIC MARKDOWN STYLING
*/

body {
    font-family: rustica, sans-serif;
    font-style: normal;
    padding: 0 3vw;
    color: $primary_color;
    background-color: $background_color;
    margin: 0;

    @include md {
        padding: 6vh 12vw;
    }
}

#content, footer {
    padding: 1.5em 2vw;
}

h1, h2, h3, h4 {
    font-weight: bold;
}

#robert-yin {
    font-size: 3em; 
    margin: 0;
}

h2 {
    margin: 1.25em auto 0 auto;
}

h4 {
    margin-top: 0.125em;
    color: $secondary_color;
}

a {
    text-decoration: none;
    color: $tertiary_color;

    &:hover, &:focus {
        text-decoration: underline;
    }
}

ul, ol {
    padding-left: 1.5em;

    li {
        margin: 1em auto;
    }
}

ul {
    list-style-type: "-> ";
}

.no-bullet {
    list-style-type: none;
}

hr {
    border: none;
    background-color: $primary_color;
    height: 2px;
    margin: 2em 0;
}

blockquote {
    margin: auto;
    width: calc(100% - 4em);
    padding: 0.01em 1.25em;
    border-left: 3px solid $secondary_color;

    h4 {
        color: $background_color;
    }
}

table{
    border-collapse: collapse;
    border-spacing: 0;
    max-width: 100%;
    margin: 2em 0;
}

th, td{
    padding: 0.5em;
    border: 2px solid $primary_color;
}

/*
NAV BAR AND FOOTER
*/

nav {
    margin-bottom: 5em;
    display: block;

    a {
        border-left: 2px solid $primary_color;
        padding: 0 0.75em;
        font-weight: bold;
    }

    a:last-of-type {
        border-right: 2px solid $primary_color;
    }

}

footer {
    color: $secondary_color;
}

/*
MAIN PAGE EXTRAS
*/

.main-img {
    min-width: 7.5em;
    width: 12vw;
    margin: 0.5em 2vw 0.5em 0;
    border-width: 0.25em;
    border-style: solid;
    filter: brightness(1.1);

    &:nth-of-type(even) {
        border-color: $tertiary_color;
    }

    &:nth-of-type(odd) {
        border-color: $secondary_color;
    }
}

/*
404 PAGE
*/

.chorbus {
    min-width: 7.5em;
    width: 12vw;
}
